#div{
    background-color:rgb(250, 250, 124);
    width:300px;
    height:400px;
    margin-top: 200px;
}
body{
    background-color: black;
    display:flex;
    justify-content:center;
}
h2{
margin:0;
margin-left:80px
}
#add-btn{
    background-color:blue;
    color: aliceblue;
}