div{
    background-color:beige;
    height: 300px;
    width: 300px;
     margin-top:200px;
}
body{
    background-color: white;
    display: flex;
    justify-content:center;
}
textarea{
    width: 250px;
    margin-left:25px;
    height: 100px;
}
h2{
    display: flex;
    justify-content: center;
}
.black-mode{
    background-color: black;
    color: pink;
}